body{
    background:#e7e7e7;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.form-group {
    margin-bottom: 1rem ;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem ;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10vh 0;
}

.logo a {
    color: #195479;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.logo a:hover{
    text-decoration: none;
}