<%- include('components/header.ejs') %>

    <div class="container mt-3">
        <p>Hello, <%= `${userLoggedIn.firstName} ${userLoggedIn.lastName} (${userLoggedIn.username}) ` %></p>
        <br>
        <a href="/logout">logout</a>
        
    </div>
<%- include('components/footer.ejs') %>