<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    
    <title>HUM - Panel</title>
</head>
<body>

    <div class="row">
        <div class="col-2">
            <table class="navigation">
                <tr>
                    <td><a href="/" class="brand">HUM</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="/" title="Homepage"><i class="fas fa-home"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="" title="Search"><i class="fas fa-search"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="" title="Notifications"><i class="fas fa-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="" title="Messages"><i class="fas fa-envelope"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="" title="Your profile"><i class="fas fa-user"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://github.com/drelocatelli/hum" title="HUM open source">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-6 bg-light">
